{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Blog Post</title>
</head>

<body>

</body>
<header>
    <h1><i>NEW PRODUCTS</h1>
</header>
<section class="main-content">
    <p>
        Here are some prety exciting new products as relating to solar energy, this new product are very durable and
        cost less than their older counterpart<br>
        This inverter in particular has really amazing features which include pure sine wave, authomatic three phase
        selector, annd super inbuilt voltage regulator<br>
        for stabilizing voltage, frequency is 50Hz, all this at a really amazing low price.
    </p>
</section>
<aside>
    <p>
        It advisable for you to always use a copper lighting arrestor for grounding your buildings to earth, <br>
        this is because of its low resistivity and high conductivity.
    </p>
</aside>
<footer>
    <ul>
        <li>like</li>
        <li>share</li>
        <li>tweet</li>

    </ul>
</footer>


</html>
{%endblock%}