{% extends 'base.html' %}
{% block content %}
<h1>OFFERS</h1>
<div class="row">
    {% for Offer in Offer %}
    <div class=" col">
        <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="{{Offer.image_url}} " alt="...">
            <div class=" card-body ">
                <h5 class="card-title">{{ Offer.name}}</h5>
                <p class="card-text"> #{{Offer.price}} </p>
                <p class="card-text"> {{Offer.stock}} pieces</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}